* {
	margin: 0;
	padding: 0;
}

/* Sidebar */

#sidebar {
	background: purple;
	width: 200px;
	height: calc(100vh - 40px);
	float: left;
	display: inline-block;
	padding: 20px;
}

#sidebar ul {
	list-style: none;
}

#sidebar li {
	font-family: sans-serif;
	color: white;
	padding: 10px;
	border-radius: 3px;
	cursor: pointer;
}

#sidebar li:hover,
#sidebar li.active {
	background: #48004e;
}

#sidebar .title {
	color: white;
	opacity: 0.7;
	font-family: sans-serif;
	display: block;
	margin-bottom: 10px;
	padding-left: 8px;
}

/* Content */

#content {
	background: yellow;
	width: calc(100% - 240px);
	height: 100vh;
	display: inline-block;
}

/* Messages */

#messages {
	background: #eeeeee;
	height: calc(100% - 160px);
	padding: 20px;
	overflow-y: auto;
}

#new_message {
	background: #eeeeee;
	height: 80px;
	padding: 20px;
}

#new_message input[type="text"] {
	width: calc(100% - 30px);
	height: 100%;
	border: none;
	border-radius: 5px;
	font-size: 30px;
	padding-left: 20px;
}

.message {
	background: white;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 20px;
	font-family: sans-serif;
}

.message .author {
	display: block;
	font-size: 14px;
	margin-bottom: 10px;
	color: #7d7d7d;
}

.message small {
	color: #7d7d7d;
	margin-left: 20px;
}

.extras {
	float: right;
}

.like,
.delete {
	font-family: sans-serif;
	height: 25px;
	padding: 5px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.delete {
	background: tomato;
	color: white;
	width: 25px;
}

.like {
	background: #f4f4f4;
}

.score {
	margin: 0 20px;
}

.message small {
	display: none;
}

.message:hover small {
	display: inline-block;
}

.message.error {
	border: 2px solid tomato;
}

h2 {
	font-family: sans-serif;
	margin-bottom: 10px;
}

/* forms */

.form-wrap {
	width: 300px;
	background: white;
	margin: 50px auto;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 2px 20px rgba(0,0,0,0.1);
	border: 1px solid #dddddd;
}

form label {
	display: block;
	font-family: sans-serif;
	margin-bottom: 2px;
}

.form-group {
	padding-bottom: 20px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
	height: 35px;
	display: block;
	width: calc(100% - 10px);
	border: 1px solid #cccccc;
	border-radius: 4px;
	font-size: 20px;
	padding: 0 5px;
}

form input[type="submit"] {
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 10px;
	font-size: 20px;
	background: purple;
	color: white;
	border: none;
	border-radius: 4px;
}

.small-wrap {
	width: 300px;
	margin: 0 auto;
	text-align: center;
}

/* Buttons */

.button-light {
	background: white;
	display: inline-block;
	padding: 10px;
	border: none;
	font-size: 14px;
	border-radius: 4px;
	font-family: sans-serif;
	text-decoration: none;
	color: #000;
}

ul + .button-light {
	margin-top: 20px;
}

.button-google {
	background: tomato;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
	border-radius: 4px;
	padding: 20px;
	width: calc(100% - 40px);
	margin: 20px auto 0 auto;
	display: inline-block;
	text-align: center;
}
